FREQUENCY PORT "clk" 25.0 MHz;
LOCATE COMP "clk" SITE "B9";
IOBUF PORT "clk" IO_TYPE=LVCMOS33;

LOCATE COMP "reset" SITE "R8";
IOBUF PORT "reset" IO_TYPE=LVCMOS33;

LOCATE COMP "io_cond0" SITE "B13";             # KEY0
IOBUF PORT "io_cond0" IO_TYPE=LVCMOS33;

LOCATE COMP "io_cond1" SITE "C13";             # KEY1
IOBUF PORT "io_cond1" IO_TYPE=LVCMOS33;

LOCATE COMP "io_flag[0]" SITE "A13";             # LED0
IOBUF PORT "io_flag[0]" IO_TYPE=LVCMOS33;

LOCATE COMP "io_state[0]" SITE "L1";             # GPIO_00
IOBUF PORT "io_state[0]" IO_TYPE=LVCMOS33;
IOBUF PORT "io_state[0]" PULLMODE=NONE DRIVE=16;
LOCATE COMP "io_state[1]" SITE "L2";             # GPIO_01 
IOBUF PORT "io_state[1]" IO_TYPE=LVCMOS33;
IOBUF PORT "io_state[1]" PULLMODE=NONE DRIVE=16;
LOCATE COMP "io_state[2]" SITE "M1";             # GPIO_02 
IOBUF PORT "io_state[2]" IO_TYPE=LVCMOS33;
IOBUF PORT "io_state[2]" PULLMODE=NONE DRIVE=16;
LOCATE COMP "io_state[3]" SITE "M2";             # GPIO_03 
IOBUF PORT "io_state[3]" IO_TYPE=LVCMOS33;
IOBUF PORT "io_state[3]" PULLMODE=NONE DRIVE=16;
LOCATE COMP "io_state[4]" SITE "K4";             # GPIO_04 
IOBUF PORT "io_state[4]" IO_TYPE=LVCMOS33;
IOBUF PORT "io_state[4]" PULLMODE=NONE DRIVE=16;
LOCATE COMP "io_state[5]" SITE "K5";             # GPIO_05 
IOBUF PORT "io_state[5]" IO_TYPE=LVCMOS33;
IOBUF PORT "io_state[5]" PULLMODE=NONE DRIVE=16;
LOCATE COMP "io_state[6]" SITE "L4";             # GPIO_06 
IOBUF PORT "io_state[6]" IO_TYPE=LVCMOS33;
IOBUF PORT "io_state[6]" PULLMODE=NONE DRIVE=16;
LOCATE COMP "io_state[7]" SITE "L5";             # GPIO_07 
IOBUF PORT "io_state[7]" IO_TYPE=LVCMOS33;
IOBUF PORT "io_state[7]" PULLMODE=NONE DRIVE=16;


